<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Section</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            {% include 'navbar.html' %}
            <div class="col-sm-10">
                <h1>Create New Section</h1>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="form-check">
                        Section Type<br>
                        <input type="radio" id="lab" name="sectionType" value="lab" checked>
                        <label for="lab">Lab</label><br>
                        <input type="radio" id="lecture" name="sectionType" value="lecture">
                        <label for="lecture">Lecture</label><br>
                    </div>
                    <div class="form-group">
                        <label for="newSectionNumber">Section Number</label><br>
                        <input type="text" class="form-control" id="newSectionNumber" name="newSectionNumber" placeholder="Enter section number">
                    </div>
                    <!--lab meeting time-->
                    <div class="form-group">
                        <label for="newSectionTime">Section Time</label><br>
                        <input type="text" class="form-control" id="newSectionTime" name="newSectionTime" placeholder="Enter section time">
                    </div>
                    <div class="form-group">
                        <label for="newSectionAssignedCourse">Course ID</label>
                        <select class="form-control" name="newSectionAssignedCourse" id="newSectionAssignedCourse">
                            {% for i in courses %}
                            <option value='{{ i.title }}'>{{ i.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newSectionInstructor">Instructor</label>
                        <select class="form-control" name="newSectionInstructor" id="newSectionInstructor">
                            {% for ta in tas %}
                            <option value='{{ ta.user.email }}'>{{ ta.user.email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <a class="btn btn-secondary" href="sections.html">Cancel</a>
                    <button type="submit" class="btn btn-primary">Create Section</button>
                </form>
                {% if error %}
                <p>{{ error }}</p>
            {% endif%}
            </div>
        </div>
    </div>
</body>
</html>
