<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TA Scheduling App Login Page</title>
</head>
<body>
    <!--Login interface-->
    <h2>Welcome to the UWM TA Scheduling App!</h2>
    <form action="#">
        <label for="loginID">Username</label><br>
        <input type="text" id="loginID" name="loginID"><br>
        <label for="loginPassword">Password</label><br>
        <input type="text" id="loginPassword" name="loginPassword"><br><br>
        <input type="submit" value="Login">
      </form>
</body>
</html>